.App {
  text-align: center;
  padding-top: 100px;
}

.btn-add{
  width: 300px;
  height: 50px;
  line-height: 50px;
  margin: 50px auto;
  background: rgb(77, 89, 129);
}

.to-about{
  width: 300px;
  height: 50px;
  line-height: 50px;
  margin: 50px auto;
  background: rgb(77, 89, 129);
}

